body {
  nav{
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: blue;
    text-align: center;
  }

  main {
    margin-left: 200px;
    text-align: center;
    #SideBar_OpenButton {

    }
  }
}